<p>ID: {{customer.user_id}}</p>
<p>Name: {{customer.name}}</p>
<p>Longitude: {{customer.longitude}}</p>
<p>Latitude: {{customer.latitude}}</p>
<p>Distance From Intercom Office:  {{customer-distance customer.distanceFromIntercomOffice}}</p>
