<tr>
    <td>{{customer.user_id}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.longitude}}</td>
    <td>{{customer.latitude}}</td>
    <td>{{customer-distance customer.distanceFromIntercomOffice}}</td>
</tr>
