<tr>
    <td>{{customer.id}}</td>
    <td>{{customer.user}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.longitude}}</td>
    <td>{{customer.latitude}}</td>
    <td>{{customer-distance customer.distanceFromIntercomOffice}} {{distance}} {{customer.distanceFromIntercomOffice}}</td>
</tr>
